@model IEnumerable<Shop_Models.Entities.HoaDon>

@{
    ViewData["Title"] = "Thống kê doanh thu";
    var sohoadon = Model.Count(); // Count the number of invoices
    var tongdoanhthu = Convert.ToDecimal(Model.Sum(x => x.TongTien)); // Calculate the total revenue
}

<h1 style="text-align: center;">Thống kê doanh thu</h1>

<div class="row">
    <div class="col mr-2">
        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1" style="text-align:center;">
            Số hóa đơn
        </div>
        <div class="h5 mb-0 font-weight-bold text-gray-800" style="text-align:center;">
            @sohoadon <!-- Display the number of invoices -->
        </div>
    </div>
    <div class="col mr-2">
        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1" style="text-align:center;">
            Tổng doanh thu
        </div>
        <div class="h5 mb-0 font-weight-bold text-gray-800" style="text-align:center;">
            @tongdoanhthu <!-- Display the total revenue -->
        </div>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                Mã hóa đơn
            </th>
            <th>
                Doanh thu
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MaHoaDon)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TongTien)
                </td>
            </tr>
        }
    </tbody>
</table>