@{
	var httpContext = ViewContext.HttpContext;
	string thongbao = httpContext.Session.GetString("ThongBao");
}
<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
	<div class="container">
		<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
			<div class="col-first">
				<h1>Đăng nhập/Đăng ký</h1>
				<nav class="d-flex align-items-center">
					<a href="/Home">Home<span class="lnr lnr-arrow-right"></span></a>
					<a href="/Login">Đăng nhập/Đăng ký</a>
				</nav>
			</div>
		</div>
	</div>
</section>

<link href="~/behat-master/css/linearicons.css" rel="stylesheet" />
<link rel="stylesheet" href="~/behat-master/css/owl.carousel.css">
<link rel="stylesheet" href="~/behat-master/css/themify-icons.css">
<link rel="stylesheet" href="~/behat-master/css/font-awesome.min.css">
<link rel="stylesheet" href="~/behat-master/css/nice-select.css">
<link rel="stylesheet" href="~/behat-master/css/nouislider.min.css">
<link rel="stylesheet" href="~/behat-master/css/bootstrap.css">
<link rel="stylesheet" href="~/behat-master/css/main.css">
<!-- End Banner Area -->
<!--================Login Box Area =================-->
<section class="login_box_area section_gap">
	<div class="container">
		<div class="row">
			<div class="col-lg-6">
				<div class="login_box_img">
					<img class="img-fluid" src="~/behat-master/img/login.jpg" alt="">
					<div class="hover">
						<h4>Bạn mới sử dụng trang web của chúng tôi?</h4>
						<a class="primary-btn" href="/Login/SignUp">Tạo Tài Khoản</a>
					</div>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="login_form_inner">
					<h3>ĐĂNG NHẬP ĐỂ THAM GIA</h3>
					<form  asp-controller="Login" asp-action="LoginWithJWT" method="post" name="login" class="row login_form" id="contactForm" novalidate="novalidate">
						<!-- Thêm phần này để hiển thị thông báo lỗi -->
						@if (!String.IsNullOrEmpty(thongbao))
						{
							<div class="alert alert-danger" role="alert">
								@thongbao
							</div>
						}
						<div class="col-md-12 form-group">
							<input type="text" class="form-control" id="username" name="username" placeholder="Tên Đăng Nhập" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Username'">
						</div>
						<div class="col-md-12 form-group">
							<input type="password" class="form-control" id="password" name="password" placeholder="Mật Khẩu" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Password'">
						</div>
						<div class="col-md-12 form-group">
							<div class="creat_account">
								<input type="checkbox" id="f-option2" name="selector">
								<label for="f-option2">Duy trì trạng thái đăng nhập cho tôi</label>
							</div>
						</div>
						<div class="col-md-12 form-group">
							<button type="submit" value="submit" class="primary-btn">Đăng Nhập</button>
							<a href="#">Quên Mật Khẩu?</a>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>
<!--================End Login Box Area =================-->