@using static Shop_Models.Heplers.TrangThai;
@model Shop_Models.Entities.SanPham

@{
    ViewData["Title"] = "DetailTH";
}

<h1>Chi Tiết Sản Phẩm</h1>

<div class="container">
    <h4>Sản Phẩm</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            <strong>Mã Sản Phẩm:</strong>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MaSanPham)
        </dd>
        <dt class="col-sm-2">
            <strong>Tên Sản Phẩm:</strong>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TenSanPham)
        </dd>
        <dt class="col-sm-2">
            <strong>Trạng Thái:</strong>
        </dt>
        <dd class="col-sm-10">
            @if (Model.TrangThai == (int)TrangThaiCoBan.HoatDong)
            {
                <text>Hoạt động</text>
            }
            else if (Model.TrangThai == (int)TrangThaiCoBan.KhongHoatDong)
            {
                <text>Không hoạt động</text>
            }
            else
            {
                <text>Không xác định trạng thái</text>
            }
        </dd>
    </dl>
</div>

<div class="container mt-3">
    <div class="row">
        <div class="col-md-12">
            <a asp-action="EditSP" asp-route-id="@Model.IdSanPham" class="btn btn-primary">Chỉnh Sửa</a> |
            <a asp-action="GetAllSP" class="btn btn-secondary">Quay lại Danh Sách</a>
        </div>
    </div>
</div>
