@model Shop_Models.Entities.Loai

@{
    ViewData["Title"] = "Chi Tiết Loại";
}

<h1>Chi Tiết Loại</h1>

<div class="container">
    <h4>Loại</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            <strong>Mã Loại:</strong>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MaLoai)
        </dd>
        <dt class="col-sm-2">
            <strong>Tên Loại:</strong>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TenLoai)
        </dd>
        <dt class="col-sm-2">
            <strong>Trạng Thái:</strong>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TrangThai)
        </dd>
    </dl>
</div>

<div class="container mt-3">
    <div class="row">
        <div class="col-md-12">
            <a asp-action="EditLoai" asp-route-id="@Model.Id" class="btn btn-primary">Chỉnh Sửa</a> |
            <a asp-action="GetAllLoai" class="btn btn-secondary">Quay lại Danh Sách</a>
        </div>
    </div>
</div>
