@model Shop_Models.Entities.MauSac

@{
    ViewData["Title"] = "CreateMauSac";
}

<h1>CreateMauSac</h1>

<h4>MauSac</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateMauSac">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <label asp-for="MaMauSac" class="control-label"></label>
                <input asp-for="MaMauSac" class="form-control" />
                <span asp-validation-for="MaMauSac" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TenMauSac" class="control-label"></label>
                <input asp-for="TenMauSac" class="form-control" />
                <span asp-validation-for="TenMauSac" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TrangThai" class="control-label"></label>
                <input asp-for="TrangThai" class="form-control" />
                <span asp-validation-for="TrangThai" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="GetAllMauSac">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
