@model Shop_Models.Entities.MauSac

@{
    ViewData["Title"] = "EditMauSac";
}

<h1>Chỉnh Sửa Màu Sắc</h1>

<hr />
<div class="row">
    <div class="col-md-6 offset-md-3">
        <form asp-action="EditMauSac">
            <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

            <div class="form-group">
                <label asp-for="Guid" class="control-label"></label>
                <input asp-for="Guid" class="form-control" />
                <span asp-validation-for="Guid" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="MaMauSac" class="control-label"></label>
                <input asp-for="MaMauSac" class="form-control" />
                <span asp-validation-for="MaMauSac" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="TenMauSac" class="control-label"></label>
                <input asp-for="TenMauSac" class="form-control" />
                <span asp-validation-for="TenMauSac" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="TrangThai" class="control-label"></label>
                <select asp-for="TrangThai" class="form-control">
                    <option value="">-- Chọn trạng thái --</option>
                    <option value="1">Hoạt động</option>
                    <option value="0">Không hoạt động</option>
                </select>
                <span asp-validation-for="TrangThai" class="text-danger"></span>
            </div>

            <div class="form-group text-center">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="text-center mt-3">
    <a asp-action="GetAll" class="btn btn-secondary">Back to List</a>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
