<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Payment Failed</h1>
               
            </div>
        </div>
    </div>
</section>
<head>
    <title>Thanh Toán Không Thành Công</title>
    
</head>
<body>
    <div class="container">
        <h1>Payment Failed</h1>
        <p>@ViewBag.Message</p>
        <a href="/Cart">Hãy Thử Lại 1 Lần Nữa</a>
    </div>
</body>